{% extends "base.html" %}
{% block title %}Cases{% endblock %}
{% block content %}
<h1>Cases</h1>
<div class="table-resposive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>Location</th>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Pulse Rate</th>
                <th>Body Temperature</th>
                <th>Blood Oxygen Saturation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for case in cases %}
            <tr>
                <td>{{ case.id }}</td>
                <td>{{ case.time.astimezone().strftime("%Y-%m-%d %H:%M:%S %z") }}</td>
                <td>{{ case.location }}</td>
                <td>{{ case.patient_id }}</td>
                <td>{{ case.doctor_id }}</td>
                <td>{{ case.pulse_rate }}</td>
                <td>{{ case.body_temperature }}</td>
                <td>{{ case.blood_oxygen_saturation }}</td>
                <td><a href="/cases/{{ case.id }}"><button class="btn btn-primary btn-sm">View Diagnosis</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}