{% extends "base.html" %}
{% block title %}Database Test{% endblock %}
{% block content %}
<h1>API Test</h1>
<p> You can add new diagnosis data here </p>
    <form method="post" action="/API/diagnosis">
      <div class="mb-3">
        <label for="usernameField">Patient Username</label>
        <input class="form-control" name="username" type="text" placeholder="adamjoe123" id="usernameField">
      </div>
      <div class="mb-3">
        <label for="nameField">Patient Name</label>
        <input class="form-control" name="name" type="text" placeholder="Adam Joe Full Name" id="nameField">
      </div>
      <div class="mb-3">
        <label for="locationField">Patient Location</label>
        <input class="form-control" name="location" type="text" placeholder="Some place, somewhere" id="locationField">
      </div>
      <div class="mb-3">
        <label for="IDField">Pulse Rate (BPM, integer)</label>
        <input class="form-control" name="pulse_rate" type="text" placeholder="90" id="bodyTempField">
      </div>
      <div class="mb-3">
        <label for="bodyTempField">Body Temperature (&deg;C, integer)</label>
        <input class="form-control" name="body_temperature" type="text" placeholder="36" id="bodyTempField">
      </div>
      <div class="mb-3">
        <label for="bloodPressureField">Blood Pressure (mm Hg, integer)</label>
        <input class="form-control" name="blood_pressure" type="text" placeholder="115" id="bloodPressureField">
      </div>
      <input class="btn btn-primary" type="submit" value="Send">
    </form>
{% endblock %}